
  <div class='main'>
    <h1> マイページ </h1>
    <%= link_to "編集する", edit_user_registration_path %>
      <%= @nickname %>さん
      <%= @last_name %>
      <%= @first_name %>
      <%= @graduation_school  %>    
      <%= @discipline %>
