<div class="wrapper">
  <div class="header">
    <%= render "shared/header" %>
  </div>

<%= form_with(model: @schedule, local: true) do |form| %>

    <div class="time">
    <%= form.label :開始時間 %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="time">
    <%= form.label :終了時間 %>
    <%= form.datetime_select :finish_time %>
  </div>

   <div class="place">
    <%= form.label :場所 %>
    <%= form.text_field :place %>
  </div>

  <div class="activities">
    <%= form.label :アクティビティ %>
    <%= form.text_field :activities %>
  </div>

  <div class="participants">
    <%= form.label :種目 %>
    <%= form.text_field :participants %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

  <% end %>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>
