<div class="wrapper">
  <div class="header">
    <%= render "shared/second-header" %>
  </div>

<h1>練習詳細</h1>
<br>
<% if current_user.id == @schedule.user_id%>
  <%= link_to '編集する', edit_schedule_path %>
  <%= link_to '削除する', schedule_path, method: :delete %>
<% end %>

<div class="time">
開始時間
  <%= @schedule.start_time %>
</div>
<div class="time">
終了時間
  <%= @schedule.finish_time.strftime("%H:%M") %>
</div>
<div class="place">
場所
  <%= @schedule.place %>
</div>
<div class="activities">
アクティビティ
  <%= @schedule.activities %>
</div>
<div class="participants">
募集人数
  <%= @schedule.participants %>
</div>

  <h2>参加申し込みフォーム</h2>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>

