<div class="wrapper">
  <div class="header">
    <%= render "shared/second-header" %>
  </div>

  <h1>練習詳細</h1>
  <br>
  <% if current_user.id == @schedule.user_id%>
    <%= link_to '編集する', edit_schedule_path %>
    <%= link_to '削除する', schedule_path, method: :delete %>
  <% end %>

  <div class="time">
  開始時間
    <%= @schedule.start_time %>
  </div>
  <div class="time">
  終了時間
    <%= @schedule.finish_time.strftime("%H:%M") %>
  </div>
  <div class="place">
  場所
    <%= @schedule.place %>
  </div>
  <div class="activity">
  アクティビティ
    <%= @schedule.activity %>
  </div>
  <div class="participant">
  募集人数
    <%= @schedule.participant %>
  </div>

  <% if @schedule.participant > @applicants.count %>
      <h2>参加申し込みフォーム</h2>
    <div class="container">
      <% if user_signed_in? %>
        <%= form_with(model: [@schedule, @applicant], local: true) do |form| %>
          <%= form.text_area :content, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "参加申し込みする" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>
  <% else %>
     <h2>募集人数は定員になりました。</h2> 
  <% end %>
    
    <div class="comments">
      <h4>＜参加者一覧＞</h4>
      <% @applicants.each do |applicant| %>
        <p>
          <%= applicant.id %>
          <strong><%= link_to applicant.user.nickname, "/users/#{applicant.user_id}" %>：</strong>
          <%= applicant.content %>
        </p>
      <% end %>
    </div>  





    <div class="footer">
      <%= render "shared/footer" %>
    </div>
</div>

